<div *ngIf="!isPlaying" class="container">
    <input type="text" [(ngModel)]="jogador">
    <button class="bg-azul" (click)="iniciarJogo()" mat-raised-button>Iniciar jogo</button>
</div>

<div *ngIf="isPlaying" class="informacoes-carta-virada">
    <p>Carta virada = {{cartaVirada}}</p>
    <p>Coringa = {{coringa}}</p>
</div>
<div *ngIf="isPlaying" class="jogadores">
    <div *ngFor="let jogador of jogadores" class="jogador">
        <div>Jogador: {{jogador.nome}}</div>
        <div class="cartas">
            <div class="carta" *ngFor="let carta of jogador.cartas">
                <p>{{carta.valor}} de {{carta.naipe}}</p>
            </div>
        </div>
    </div>
</div>